.header .header-text{
    font-size: 24px;
    color: #F9FAF8
}

.hero-container,
.header,
.footer,
.hero-container {
    background-color: #1F2937;
}
body {
    margin: 0px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.header-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}
.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.hero-text {
    max-width: 400px;
}

.hero-text :first-child {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text :nth-child(2),
.header-links li {
    font-size: 18px;
    color: #E5E7EB;
}

.info-container h3 {
    font-size: 36px;
    font-weight: bolder;
}

.info-images img {
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 25px;
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 300px;

}
.quote-container .quote-text {
    font-size: 36px;
    font-style: italic;
}
.quote-container .quote-name {
    display: flex;
    align-items: flex-end;
}
button,
.call-to-action-container {
    background-color: #3882F6;
    color: #1F2937;
}

.call-to-action-container {
    margin: 100px;
    padding: 20px;
    border-radius: 5px;
}
